/*
* ----------------------------------------
* Styles pour le graph LineChart
* ----------------------------------------
*/

.container-chart .line-chart {
  display: flex;
  justify-content: center; // Centre horizontalement dans le conteneur container-chart
  align-items: flex-start; // Centre verticalement dans le conteneur container-chart
  width: 100%;
  max-height: 100%;
  max-width: 100%;
}

/*
* ----------------------------------------
* Media queries pour gérer les spécificités des écrans
* Surcharge des media queries définis dans styles.scss
* ----------------------------------------
*/
@media (orientation: landscape) {
  //adaptation de la taille du label en abscisse
  ::ng-deep .x.axis text {
    font-size: 1.2vw !important;
    opacity: 0.8;
    
  }
  //graduation en abscisse
  ::ng-deep .x.axis .tick text {
    font-size: 1.2vw !important;
    fill: black !important; // Labels de l'axe X
    opacity: 0.8;
    margin: 10%;
  }

  //graduation en ordonnée
  ::ng-deep .y.axis .tick text {
    font-size: 1.2vw !important;
    fill: black !important; // Labels de l'axe Y
    opacity: 0.8;

  }
}

@media (orientation: portrait) {
  //adaptation de la taille du label en abscisse
  ::ng-deep .x.axis text {
    font-size: 1.2vw !important;
    opacity: 0.8;
  }
  //graduation en abscisse
  ::ng-deep .x.axis .tick text {
    font-size: 1.2vw !important;
    fill: black !important;
    opacity: 0.8;
  }
  //graduation en ordonnée
  ::ng-deep .y.axis .tick text {
    font-size: 1.2vw !important;
    fill: black !important; // Labels de l'axe Y
    opacity: 0.8;
  }
}
