/*
* ----------------------------------------
* Styles pour la partie graphique
* ----------------------------------------
*/

.container-chart .pie-chart {
  display: flex;
  aspect-ratio: 3 / 2; /* Ratio par défaut */
  max-height: 90vh; /* Limite la hauteur à 90% de l'écran */
  width: 100%; /* Utilise toute la largeur disponible */
  align-self: flex-start; /* Aligne le composant au début du conteneur */
}
::ng-deep .pie-label {
  opacity: 0.6;
}

/*
* ----------------------------------------
* Media queries pour gérer les spécificités des écrans
* Surcharge des media queries définis dans styles.scss
* ----------------------------------------
*/
@media (orientation: landscape) {
  .container-chart .pie-chart {
    height: 90%;
  }
  //adaptation de la taille du label
  ::ng-deep .pie-label {
    font-size: 2vw !important;
   
  }
  
}

@media (orientation: portrait) {
    //adaptation de la taille du label
  ::ng-deep .pie-label {
    font-size: 2vh !important;
  }
}
