/*
* ----------------------------------------
* Styles pour la partie graphique
* ----------------------------------------
*/

.container-chart .pie-chart {
  display: flex;
  aspect-ratio: 3 / 2; /* Ratio par défaut */
  max-height: 90vh; /* Limite la hauteur à 90% de l'écran */
  width: 100%; /* Utilise toute la largeur disponible */
  align-self: flex-start; /* Aligne le composant au début du conteneur */
}


/*
* ----------------------------------------
* Media queries pour gérer les spécificités des écrans
* Surcharge des media queries définis dans styles.scss
* ----------------------------------------
*/
@media (orientation: landscape) {
  .container-chart .pie-chart {
    height: 90%;
  }
}


/*Customisation du tooltip à revoir*/
.custom-tooltip {
  color: white;
  
  margin: auto;
  padding: 0px;
  border-radius: 10px;
  font-size: 12px;
  font-size: x-large;
  font-family: "Roboto", sans-serif;
  background-color: rgb(4, 131, 143);
  
}