<div class="top"><span class="titre">Medals per Country </span></div>

<!-- Section avec les cartes -->

<div class="container-card">
  <div class="card">
    <span class="label">Number of JOs</span><br /><strong>{{ joCount }}</strong>
  </div>
  <div class="card">
    <span class="label">Number of countries</span><br /><strong>{{
      countriesCount
    }}</strong>
  </div>
</div>

<!-- Section graphique -->
<div class="container-chart">
  <span #ContainerRef class="pie-chart">
    <ngx-charts-pie-chart
      [results]="pieChartData"
      [labels]="true"
      [doughnut]="false"
      [explodeSlices]="false"
      [scheme]="colorScheme"
      [tooltipDisabled]="false"
      [arcWidth]="0.05"
      [gradient]="false"
      (select)="onSelect($event)"
      (activate)="onActivate($event)"
      (deactivate)="onDeactivate($event)"
    >
      <ng-template #tooltipTemplate let-model="model">
        <div class="ngx-charts-tooltip">
          {{ model.name }}<br />
          🏆{{ model.value }}
        </div>
      </ng-template>
    </ngx-charts-pie-chart>
  </span>
</div>
