.top {
  display: flex;

  justify-content: center; /* Centrer horizontalement */
  align-items: center; /* Centrer verticalement */

  margin: 0; /* Supprime les marges par défaut */
}
.chart-title {
  display: block;
  border-radius: 10px;
  background-color: rgb(4, 131, 143);
  padding: 10px;
  color: white;
  font-size: x-large;
  font-family: "Roboto", sans-serif;
}

.container-card {
  display: flex;
  flex-direction: row;
  margin: 10px;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

.container-card .card {
  padding: 10px;
  margin: 10px;
  border: 2px solid rgb(4, 131, 143);
  border-radius: 10px;
  text-align: center;
  aspect-ratio: 3 / 1;
}
.container-card .card .label {
  opacity: 0.4;
}
.container-chart {
  display: flex;
  flex-direction: column; /* Garantit un alignement vertical */
  align-items: flex-start; /* Aligne le contenu en haut */
  padding: 10px;
  height: 100%; /* Prend toute la hauteur disponible */
}

.container-chart .pie-chart {
  display: flex;
  aspect-ratio: 3 / 2; /* Ratio par défaut */
  max-height: 90vh; /* Limite la hauteur à 90% de l'écran */
  width: 100%; /* Utilise toute la largeur disponible */
  align-self: flex-start; /* Aligne le composant au début du conteneur */
}



/* Taille Largeur 240->481 */
@media (min-width: 240px) and (max-width: 481px) {
  .container-chart .pie-chart {
    aspect-ratio: 16 / 9;
    max-height: 80vh;
  }
  .chart-title {
    font-size: 20px;
  }
  .container-card {
    font-size: 15px;
  }
}

/* Taille Largeur 481->614 */
@media (min-width: 481px) and (max-width: 614px) {
  .container-chart .pie-chart {
    aspect-ratio: 16 / 9;
    max-height: 80vh;
  }
  .chart-title {
    font-size: 30px;
  }
  .container-card {
    font-size: 22px;
  }
}

/* Taille Largeur 614->768 */
@media (min-width: 614px) and (max-width: 768px) {
  .container-chart .pie-chart {
    aspect-ratio: 16 / 9;
    max-height: 80vh;
  }
  .chart-title {
    font-size: 35px;
  }
  .container-card {
    font-size: 25px;
  }
}
/* Taille Largeur 769->900 */
@media (min-width: 769px) and (max-width: 900px) {
  .container-chart .pie-chart {
    aspect-ratio: 16 / 9;
    max-height: 80vh;
  }
  .chart-title {
    font-size: 35px;
  }
  .container-card {
    font-size: 25px;
  }
}

/* Taille Largeur 900->1024 */
@media (min-width: 900px) and (max-width: 1024px) {
  .container-chart .pie-chart {
    aspect-ratio: 5 / 4;
    max-height: 85vh;
  }
  .chart-title {
    font-size: 40px;
  }
  .container-card {
    font-size: 30px;
  }
}

/* Taille Largeur >1024 */
@media (min-width: 1025px) {
  .container-chart .pie-chart {
    aspect-ratio: 3 / 2;
    max-height: 90vh;
  }
  .chart-title {
    font-size: 55px;
  }
  .container-card {
    font-size: 40px;
  }
}


/*Customisation du tooltip à revoir*/
.custom-tooltip {
  color: white;
  
  margin: auto;
  padding: 0px;
  border-radius: 10px;
  font-size: 12px;
  font-size: x-large;
  font-family: "Roboto", sans-serif;
  background-color: rgb(4, 131, 143);
  
}