/**
 * 
 * Fichier global de styles pour l'application.
 *
 * - Contient les styles partagés pour les composants
 */

/*
* ----------------------------------------
* Styles d'entête contenant le titre
* ----------------------------------------
*/

.top {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
    position: relative;
  }
  
  .buton {
    display: block;
    border-radius: 10px;
    align-self: flex-start;
    background-color: transparent;
    padding: 1%;
    border: solid;
    border-color: rgb(121, 61, 82);
    margin: 1%;
    color: rgb(121, 61, 82);
    font-size: 1vw;
    font-family: "Roboto", sans-serif;
    position: absolute;
    left: 2vw;
  }
  .buton a {
    text-decoration: none !important;
    color: inherit;
  }
  
  .buton a:visited,
  .buton a:hover,
  .buton a:active {
    text-decoration: none !important;
    color: inherit;
  }
  
  .titre {
    display: block;
    border-radius: 10px;
    background-color: rgb(4, 131, 143);
    max-height: 10vh;
    padding: 1%;
    margin: 1%;
    color: white;
    font-size: x-large;
    font-family: "Roboto", sans-serif;
  }
  
  /*
  * ----------------------------------------
  * Styles contenant les cartes de chiffres clé
  * ----------------------------------------
  */
  .container-card {
    display: flex;
    flex-direction: row;
  
    justify-content: center;
    max-height: 20vh;
    font-family: "Roboto", sans-serif;
  }
  
  .container-card .card {
    padding: 1%;
    margin: 1%;
    border: 2px solid rgb(4, 131, 143);
    border-radius: 10px;
    text-align: center;
  }
  .container-card .card .label {
    opacity: 0.4;
  }
  
  /*
  * ----------------------------------------
  * Styles généraux pour la partie graphique
  * ----------------------------------------
  */
  ng-star-inserted {
    display: flex;
    flex-direction: row;
    justify-content: center; // on aligne horizontalement les élements à l'intérieur au centre
    align-items: flex-start; // on aligne verticalement les éléments à l'intérieur en haut
  }
  
  .container-chart {
    display: flex;
    flex-direction: row; // on dispose les éléments en ligne
    justify-content: center; // on aligne horizontalement les élements à l'intérieur au centre
    align-items: flex-start; // on aligne verticalement les éléments à l'intérieur en haut
    margin: 1%; // marge extérieur à 1%
    height: 70vh; // le container prend 70% de la taille de l'écran
    max-width: 100%; // Limite la largeur du container à 100% de la largeur de l'écran
    max-height: 80%; // Limite la hauteur du container à 80% de la hauteur de l'écran
    overflow: auto; /* En cas de débordement, affiche une scrollbar, sinon elle reste masquée */
  }
  
  /*
  *  tooltip using global css styles only: https://github.com/swimlane/ngx-charts/issues/1231#issuecomment-562459228
  */
  ngx-tooltip-content.ngx-charts-tooltip-content.type-tooltip {
    .tooltip-caret.position-top {
      border-top-color: rgb(4, 131, 143);
      box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    }
  
    background-color: rgb(4, 131, 143);
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    font-size: 2vh;
    padding: 1vh;
    border-radius: 5%;
  }
  
  /*
  * ----------------------------------------
  * Media queries pour gérer les spécificités des écrans
  * 3 models : smartphones, tablettes, et grand écran avec dans chaque mode une adaptation en fonction du mode portrait ou paysage
  * Line-charts et pie-charts sont gérés globalement avec des spécificités surchargées si besoin dans les fichiers css des composants
  * ----------------------------------------
  */
  
  /* Smartphones */
  @media screen and (max-width: 480px) {
    /* Mode Portrait */
    @media (orientation: portrait) {
      .titre {
        font-size: 6vw;     
       
  
      }
      .container-card {
        font-size: 3vw;
      }
      .container-chart .line-chart {
        width: 100%;
        margin-top: 5%;
        margin-left: 1%;
        margin-right: 10%;
        width: 100%;
        height: 50%;
       
      }
    }
  
    /* Mode Paysage */
    @media (orientation: landscape) {
      .titre {
        font-size: 6vh;
      }
      .container-card {
        font-size: 3vh;
      }
    }
  }
  
  /* Tablettes */
  @media screen and (min-width: 481px) and (max-width: 1024px) {
    /* Mode Portrait */
    @media (orientation: portrait) {
      .titre {
        font-size: 5vw;
        
       
      }
      .container-card {
        font-size: 3vw;
      }
      .container-chart .line-chart {
        margin-top: 5%;
        margin-left: 10%;
        margin-right: 10%;
        width: 100%;
        height: 50%;
      }
    }
    /* Mode Paysage */
    @media (orientation: landscape) {
      .titre {
        font-size: 6vh;
       
      }
      .container-card {
        font-size: 3vh;
      }
     
      .container-chart .line-chart {
          width: 100%;
          height: 70%;
          margin-top: 5%;
          margin-left: 20%;
          margin-right: 20%;
        }
    }
  }
  /* Grand écran */
  @media (min-width: 1025px) {
    /* Mode Portrait */
    @media (orientation: portrait) {
      .titre {
        font-size: 5vw; 
      }
      .container-card {
        font-size: 3vw;
      }
      .container-chart .line-chart {
        width: 70%;
        height: 40%;
        margin-top: 5%;
        margin-left: 10%;
        margin-right: 10%;
      }
    }
    /* Mode Paysage */
    @media (orientation: landscape) {
      .titre {
        font-size: 6vh; 
       
      }
      .container-card {
        font-size: 3vh;
      }
      .container-chart .line-chart {
        width: 100%;
        height: 70%;
        margin-top: 5%;
        margin-left: 20%;
        margin-right: 20%;
      }
    }
  }
  
  /*
  * ----------------------------------------
  * Styles contenant les éléments pour l'affichage des erreurs
  * ----------------------------------------
  */
  
  .error-container {
    display: flex;
    justify-content: center; /* Centrer horizontalement */
    align-items: flex-start; /* Centrer verticalement */
    height: 50vh; /* Prendre toute la hauteur de la fenêtre */
    background-color: #fff; /* Fond semi-transparent pour l'alerte */
  }
  
  .error-message {
    text-align: center; /* Centrer le texte */
    padding: 2vh;
    margin-top: 20vh;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 100%; /* Limiter la largeur du message */
  }
  
  .error-logo {
    width: 10vh; /* Taille du logo */
    height: 10vh;
    margin-bottom: 2vh; /* Espacement entre le logo et le texte */
  }
  
  .error-message p {
    font-size: 2vw;
    color: #e74c3c; /* Couleur rouge pour l'erreur */
    font-weight: bold;
  }
  